# OneHotEncoding
### OneHotEncoding is used to transform Nominal data

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv(r'D:\Data Analytics\Python Scripts\Statistics\Encoding\customer.csv')
new_df = df.iloc[:,0:2]
new_df.head()

   age  gender
0   30  Female
1   68  Female
2   70  Female
3   72  Female
4   16  Female

## OneHotEncoding using Pandas

In [3]:
pd.get_dummies(df, columns=["gender"],drop_first=True).head()

   age   review education purchased  gender_Male
0   30  Average    School        No        False
1   68     Poor        UG        No        False
2   70     Good        PG        No        False
3   72     Good        PG        No        False
4   16  Average        UG        No        False

In [4]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

## OneHotEncoding using Sklearn

In [5]:
X_train, X_test, Y_train, Y_test = train_test_split(
    df.iloc[:, 0:4],
    df.iloc[:, -1],
    test_size=0.3
)

X_train.head()

    age  gender   review education
17   22  Female     Poor        UG
4    16  Female  Average        UG
5    31  Female  Average    School
49   25  Female     Good        UG
33   89  Female     Good        PG

In [6]:
ohe = OneHotEncoder(drop='first',dtype=int)
X_train_new = ohe.fit_transform(X_train[['gender']]).toarray()

In [7]:
X_test_new = ohe.transform(X_test[['gender']]).toarray()

In [8]:
pd.DataFrame(np.hstack((X_train[["age", "education", "review"]].values, X_train_new)), columns=['age','education','review','gender']).head()

  age education   review gender
0  22        UG     Poor      0
1  16        UG  Average      0
2  31    School  Average      0
3  25        UG     Good      0
4  89        PG     Good      0